<section class="dashboard-main">
  <h1> <%= @facade.user_first_name %>'s Dashboard </h1>
  <section id='github'>
  <% if @facade.connected_to_github? %>
    <section id='repositories'>
    <h3>Repositories<h3>
      <ul>
      <% @facade.user_github_repos[0..4].each.with_index do |repo, i| %>
        <article id='repository-<%= i+1 %>'>
          <li><%= link_to repo.name, repo.url  %></li>
        </article>
      <% end %>
      </ul>
    </section>
    <section id='followers'>
    <h3>Followers<h3>
      <ul>
        <% @facade.user_github_followers.each.with_index do |user, i| %>
          <article id='follower-<%= i+1 %>'>
            <li><%= link_to user.user_name, user.profile_url  %></li>
          </article>
        <% end %>
      </ul>
    </section>
    <section id='following'>
    <h3>Following<h3>
      <ul>
        <% @facade.user_github_following.each.with_index do |user, i| %>
          <article id='following-<%= i+1 %>'>
            <li><%= link_to user.user_name, user.profile_url  %></li>
          </article>
        <% end %>
      </ul>
    </section>
  <% else %>
    <%= link_to 'Connect to Github', github_connect_path, class: "btn btn-primary mb1 bg-teel"  %>
  <% end %>
  </section>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= @facade.user_first_name  %> <%= @facade.user_last_name %> </li>
    <li> <%= @facade.user_email%> </li>
  </ul>
  <section>
    <h1>Bookmarked Segments</h1>
  </section>
</section>
